:root{ 
	--color-primary-0: #303500;	/* Main Primary color */
	--color-primary-1: #262900;
	--color-primary-2: #3F4503;
	--color-primary-3: #677100;
	--color-primary-4: #97A500;

	--color-secondary-1-0: #1C3100;	/* Main Secondary color (1) */
	--color-secondary-1-1: #162600;
	--color-secondary-1-2: #264002;
	--color-secondary-1-3: #3D6900;
	--color-secondary-1-4: #599A00;

	--color-secondary-2-0: #2D0014;	/* Main Secondary color (2) */
	--color-secondary-2-1: #230010;
	--color-secondary-2-2: #3B021B;
	--color-secondary-2-3: #61002B;
	--color-secondary-2-4: #8F003E;

	--color-complement-0: #1C0123;	/* Main Complement color */
	--color-complement-1: #16011C;
	--color-complement-2: #25032E;
	--color-complement-3: #3B014C;
	--color-complement-4: #57036F;
	
	--color-fg: #ddd;
  --color-translucent: rgba(221,221,221,0.5);
	--color-bg: #444;
}

html {
  font-size: 57.5%;
}

body {
  font-size: 1.6rem;
  color: var(--color-fg);
  background-color: var(--color-complement-0);
  font-family: 'Fira Code', monospace;
}

.text p {
  text-indent: 3.6rem;
  text-align: justify;
  hyphens: auto;
}

header {
  font-family: 'Major Mono Display', monospace;
  border-bottom: 0.2rem solid var(--color-fg);
  font-style: bold;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-fg);
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid var(--color-fg);
  font-size: 1.2rem;
  color: var(--color-fg);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h1,h2,h3 {
  text-align: center;
  line-height:1.2;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  background-color: white;
  outline: 2px solid black;
}

em {

}

strong {
  font-weight: normal;
  text-shadow: 0 0 6px var(--color-fg);
}

mark {
  font-weight: normal;
  color: var(--color-fg);
  background-color: var(--color-complement-3);
}

pre {
  padding: 1rem 3.5rem 1rem 3.5rem;
  background-color: var(--color-secondary-1-0);
}

blockquote {
  padding: 1rem 3.5rem 1rem 3.5rem;
  margin: 0;
  background-color: var(--color-bg);
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--color-fg);
}


/* Links */
a {
  text-decoration: none;
  color: var(--color-secondary-1-2);
}
a:visited {
  color: var(--color-secondary-1-3);
}
a:active {
  color: var(--color-secondary-1-4);
} 
a:hover {
  color: var(--color-secondary-1-4);
  text-shadow: 0 0 10px var(--color-translucent);
} 
header a {
  color: var(--color-secondary-2-0);
  text-shadow: 0 0 4px var(--color-translucent);
  -webkit-text-fill-color: var(--color-secondary-2-0);
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--color-fg);
}
header a:hover {
  color: var(--color-fg);
  -webkit-text-fill-color: var(--color-fg);
  text-shadow: 0 0 10px var(--color-fg);
}
main a {
  -moz-osx-font-smoothing: auto;
  color: var(--color-secondary-1-3);
  text-shadow: 0 0 4px var(--color-translucent);
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
