---
title: Home
---

<img src="/images/zrkrlc-avatar-borderless.png" style="float: left; max-height: 20rem; margin: 0 2rem 2rem 0; outline: 1px solid white;" />

<p>This the personal website of <strong>Clark Urzo</strong>.</p>

<p>I write essays about <a href="/tags/mathematics.html">symbol</a>-<a href="/tags/programming.html">pushing</a>, <a href="/tags/rationality.html">thinking clearly</a>, and <a href="/tags/narcissism.html">what happens when I fail</a> to do either one of them properly.

<p>You can see what horrible things I have done to survive in my <a href="./static/clark-urzo-resume.pdf">resumé</a>.

<p>If you're feeling kind today, you can allow me to take up some space in your inbox by signing up below:</p>

<form action="https://formcarry.com/s/X7KmZ2v1B9y" method="POST" accept-charset="UTF-8" >
  <input type="email" name="email">
  <input type="submit" value="Subscribe"> (redirects to FormCarry)
</form>

<p>Here's a list of my minor accomplishments:</p>

$partial("templates/post-list.html")$


<p>You can reach me at my <strong><a href="mailto:hello@zrkrlc.com" style="color:#ddd">e-mail address</a></strong>. Please don't send me cat pictures.</p>

