<article>
    <section class="header">
        Created: $date$ <br/>
        $if(status)$Status: $status$$endif$ <br/>
        $if(confidence)$Confidence: $confidence$$endif$ <br/>
        $if(tags)$Topics: $tags$$endif$
    </section>
    <section>
        <h1>$title$</h1>
    </section>
    <section class="text">
        <p>$body$</p>
    </section>
</article>
